// start .headerBlock
.headerBlock {
	text-align: center;

	@include media-breakpoint-up(xxl){
		padding: 85px 0 0 0;
	}

	h1{
		max-width: 630px;
		margin-left: auto;
		margin-right: auto;

		font-size: 24px;
		margin-bottom: 25px;
		@include media-breakpoint-up(md){
			font-size: 33px;
			margin-bottom: 35px;
		}
		@include media-breakpoint-up(xl){
			font-size: 47px;
			margin-bottom: 50px;
		}
		font-family: $default-font;
		line-height: 1.2;
		font-weight: 400;

	}
	//form
	&__email-form{
		padding-bottom: 20px;
		@include media-breakpoint-up(xl){
			padding-bottom: 100px;
		}

		max-width: 530px;
		margin-left: auto;
		margin-right: auto;

		display: flex;
		justify-content: space-between;
	}
	&__email-inp{
		height: 40px;
		padding: 0 20px;

		width: calc(100% - 60px);

		@include media-breakpoint-up(sm){
			width: 330px;
		}
		@include media-breakpoint-up(md){
			width: 350px;
		}

		border: 1px solid $gray-600-alt;
		@include mt();
		border-radius: 2px;
		font-size: 14px;
		outline: none !important;

		&:focus{
			box-shadow: 0 0 4px -1px $gray-600-alt;
		}
	}
	&__submit-btn{
		@extend .btn;
		@include mt();

		span{
			display: none;
			@include media-breakpoint-up(sm){
				display: block;
			}
		}
		i{
			display: inline;
			@include media-breakpoint-up(sm){
				display: none;
			}
		}

		text-align: center;
		border-radius: 2px;
		font-size: 14px;

		width: 40px;
		padding: 0;
		@include media-breakpoint-up(sm){
			width: 160px;
			padding: 0 15px;
		}

		height: 40px;

		border: 2px solid $primary;
		background-color: $white;
		color: $black;
		box-shadow: 0px 0px 0px 0px $primary;
		&:hover{
			border: 2px solid $primary;
			background-color: $primary;
			color: $white;
			box-shadow: 0px 0px 10px -5px $primary;
		}
	}
	//screen
	&__screen-cont{
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		@include media-breakpoint-up(sm){
			margin-left: 0;
			margin-right: 0;
		}

		overflow: hidden;
		@include media-breakpoint-up(xl){
			height: 300px;
		}
	}
	&__screen-bl{

		img{
			max-width: 100%;
			height: auto;
		}
	}
	//error
	&__error-bl{
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 10000;

		width: calc(100% - 40px);
		@include media-breakpoint-up(sm){
			width: auto;
			max-width: 400px;
			min-width: 260px;
		}

		box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		text-align: left;
		background: $danger;
		padding: 10px;

		display: none;
		&.active{
			display: block;
		}
	}
	&__cross-btn{
		position: absolute;
		right: 10px;
		top: 10px;
		width: 12px;
		height: 12px;
		//background-color: pink;
		cursor: pointer;

		&:before, &:after{
			content: '';
			position: absolute;
			width: 14px;
			height: 1px;
			background-color: $white;

		}
		&:before{
			transform: rotate(45deg);
			top: 50%;
			left: 0;
		}
		&:after{
			transform: rotate(-45deg);
			top: 50%;
			left: 0;
		}

	}
	&__error-txt{
		padding: 10px;
		color: $white;
		font-size: 15px;
		line-height: 1.55;

	}



	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock