mixin header()
	// start header
	+b.HEADER.header#header&attributes(attributes)
		.container
			+e.A.logo(href="/")
				img(src="img/logo.svg" alt="")
			+e.A.contact-us-btn(href="#") Contact us

	// end header